{% extends "base.html" %}
{% block title %}Bio{% endblock title %}
{% block body %}
<style>
    h2 {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    form {
        max-width: 300px;
        margin: auto;
        margin-top: 50px;
    }

    input {
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    button {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    button:hover {
        background-color: #0056b3;
    }
</style>

<center>
    <h2>Create Bio</h2>
    <form method="post" action="{% url 'bio' %}">
        {% csrf_token %}
        <label for="bio">Bio</label>
        <input id="bio" name="bio" placeholder="Enter bio" required>
        <button type="submit">Save</button>
    </form>
</center>
{% endblock body %}